* {
    box-sizing: border-box;
    font-family: Arial, Verdana, sans-serif;
    color: beige;
    font-size: 10pt;
    margin: 0;
    padding: 0;
}
body {
    background: url("kep/teglafal.jpg");
}
main {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto 0 auto;
    background-color: #010101;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "h h"
                         "a n"
                         "f f";
}
header{
    grid-area: h;
    background-image: url("kep/beer-new_401732638.jpg");
    background-size: cover;
}
article{
    grid-area: a;
}
nav{
    grid-area: n;
}
footer{
    grid-area: f;
}