* {
    box-sizing: border-box;
    font-family: Arial, Verdana, sans-serif;
    color: beige;
    font-size: 10pt;
    margin: 0;
    padding: 0;
}
body {
    background: url("teglafal.jpg");
}
main {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto 0 auto;
    background-color: #020202;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "h h"
                         "a n"
                         "f f";
}
header{
    grid-area: h;
    background-image: url("beer-new_401732638.jpg");
    background-size: cover;
    width: 100%;
    height: 300px;
    font-size: 32px;
    text-align: left;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: auto;
    font-weight: bold;
    font-family: Garamond;
    padding: 30px 0 0 30px;
}
article{
    grid-area: a;
    width: 100%;
    text-align: justify;
    font-size: 10px;
    padding: 10px;
    overflow: auto;

    
}
#artgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "sz1 sz1"
                         "im2 fr1";
}
article>div>h1 {
    grid-area: sz1;
    font-size: 20px;
    padding: 0 0 10px 0;
}
img {
    grid-area: im2;
    float: left;
    width: 80%;
}
article>div>ul {
    grid-area: fr1;
    padding-right: 5px;
    text-align: left;
    
}
article>div>ul>li{
    list-style-type: square;
}
nav{
    grid-area: n;
    background-color: #423f3f;
    width: 100%;
}
nav ul {
    margin: 5px;
}
nav ul li {
    list-style-type: none;
    width: 100%;
    margin: 1px;
}
nav ul li a{
    display: inline-block;
    width: 100%;
    border: 1px solid #999;
    border-radius: 5px;
    color: red;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    height: 100%;
}
nav ul li a:hover{
    background-color: rgb(145, 145, 145);
    color: white;
}
footer{
    grid-area: f;
    text-align: center;
    background-color: #504c4c;
    font-size: 20px;
    line-height: 35px;
}
article>h1{
    font-size: 15px;
    margin-bottom: 1%;
}
table{
    border-style: solid;
    border-width: 1px;
    width: 100%;
}
th, td{
    border-left: solid;
    border-width: 1px;
}
table .color{
    background-color: gray;
}
@media only screen and (max-width: 700px) {
    main {
        grid-template-columns: 1fr;
        grid-template-areas: "h""n""a""f";
    }
    table {
        width: 300px;
    }
  }